<main (click)="selectImage(null)">
	<input style="display: none" type="file" (change)="addImage($event.target.files[0])" #hiddenfileinput />
	<div class="images">
		<div
			class="one-kind-images"
			*ngFor="let image of images"
			[class.selected-image]="image.url === selectedImage?.url"
			(click)="selectImage(image); $event.stopPropagation()"
		>
			<div class="image-rows" *ngFor="let rows of array(image.rows)" [ngStyle]="{ height: 100 / image.rows + '%' }">
				<img *ngFor="let colum of array(image.columns)" class="image" [src]="sanitizer.bypassSecurityTrustUrl(image.url)" />
			</div>
		</div>
		<button class="add-image-wrapper" [class.after-add]="images.length !== 0">
			<p *ngIf="images.length === 0" class="text">Add first image</p>
			<button mat-fab color="accent" class="add-image-button" (click)="hiddenfileinput.click()">
				<mat-icon [inline]="true">close</mat-icon>
			</button>
		</button>
	</div>

	<mat-card *ngIf="selectedImage !== null" (click)="$event.stopPropagation()">
		<mat-card-content>
			<div class="row">
				<mat-label>Colums: </mat-label>
				<mat-form-field name="columns">
					<input matInput type="number" autocomplete="off" maxlength="20" [formControl]="columns" />
				</mat-form-field>
			</div>

			<div class="row">
				<mat-label>Rows: </mat-label>
				<mat-form-field name="rows">
					<input matInput type="number" autocomplete="off" maxlength="20" [formControl]="rows" />
				</mat-form-field>
			</div>
		</mat-card-content>
	</mat-card>

	<button mat-raised-button color="primary" class="create-image-button" (click)="createImage()" *ngIf="images.length !== 0">
		Create image
		<mat-icon>arrow_forward</mat-icon>
	</button>
</main>
